{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row justify-content-around">
        {% for item in products %}
        <div class="card p-0 mb-3 mt-3" style="width: 18rem;">
            <img src="{{ item.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Starting Price: {{ item.start_price }}$</li>
                <li class="list-group-item">Current Price:
                    {% if item.current_price %}
                    {{ item.current_price }}$
                    {% else %}
                    {{ item.start_price }}$
                    {% endif %}
                </li>
                <li class="list-group-item">Category:
                {% for category in item.categories.all %}
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-pill" disabled>
                        {{ category.name }}
                    </button>
                {% endfor %}
                </li>
            </ul>
            <div class="card-body text-center">
                <div class="d-grid col-8 mx-auto">
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                <p class="p-footer"><i>Seller: {{ item.created_by }}</i></p>
                <p class="p-footer"><i>Listed: {{ item.created_on }}</i></p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}