{% extends "auctions/layout.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <figure class="figure">
                <img src="{{ data.image.url }}" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">Listed by - {{ data.created_by }}</figcaption>
                <figcaption class="figure-caption text-end">{{ data.created_on }}</figcaption>
            </figure>
        </div>
        <div class="col-md-7">
            <h2>{{ data.name }}</h2>
            <p class="fst-italic">{{ data.description }}</p>
            <ul class="lh-lg">
                <li><b>Starting Price:</b> {{ data.start_price }}$</li>
                <li><b>Current Price:</b> {{ data.current_price }}$</li>
                <li><b>Total Bids:</b>
                    {% if data.bid_count %}
                        {{ data.bid_count }} <small>bid(s) so far.</small>
                    {% else %}
                        <small>No bids yet!</small>
                    {% endif %}
                </li>
            </ul>
            <div class="d-flex flex-row justify-content-between">
                <p class="fw-bold">Categories:
                {% for category in data.categories.all %}
                    <a role="button" class="btn btn-outline-success btn-sm rounded-pill mt-1 mb-1"
                       href="{% url 'auctions:cat_list' category.pk %}">{{ category.name }}</a>
                {% endfor %}
                </p>
                {% if user.is_authenticated %}
                <form method="post">
                {% csrf_token %}
                    {% if in_watchlist == False %}
                    <button type="submit" name="add_wl" class="btn btn-outline-primary mb-3">
                        <i class="bi bi-plus-circle"></i>
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="remove_wl" class="btn btn-outline-danger mb-3">
                        <i class="bi bi-dash-circle"></i>
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    {% endif %}
                </form>
                {% endif %}
            </div>
            {% if user.is_authenticated and data.is_active %}
                <div class="d-inline-flex flex-column">
                    {% crispy form1 %}
                </div>
                {% if data.created_by == user and data.bid_count > 0 %}
                    <form method="post">
                    {% csrf_token %}
                        <button type="submit" name="close" class="btn btn-warning mb-3">Close Listing</button>
                    </form>
                {% endif %}
            {% else %}
                {% if user == winner %}
                    <h3 class="color-change">Congratulations, {{ user }}! You've won this auction!</h3>
                {% else %}
                    <h4 style="text-decoration: underline">Auction closed.</h4>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mb-3">
            {% if user.is_authenticated %}
                {% crispy form2 %}
            {% endif %}
        </div>
        <div class="col-md-7">
            <div class="card text-dark" style="background-color: beige; border-color: black">
                <div class="card-body p-4">
                    <h4 class="mb-0">Recent comments</h4>
                    <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                    {% for comment in comments %}
                        <div class="d-flex flex-start mt-2 mb-2" id="comments">
                            <img class="rounded-circle m-3" src="{% static 'auctions/default_user.jpg' %}"
                                 alt="avatar" width="60" height="60"/>
                            <div class="w-100 pt-2 pb-2">
                                <div class="d-flex justify-content-between align-items-center me-3 mb-3">
                                    <h6 class="fw-bold mb-1">{{ comment.posted_by }}</h6>
                                    <p class="small mb-0">{{ comment.timestamp }}</p>
                                </div>
                                <p class="font-monospace mb-0">{{ comment.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}