{% extends "auctions/layout.html" %}

{% block body %}

    <h3 class="text-center mt-5">Log into your account:</h3>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="d-flex justify-content-center text-center">
    <form action="{% url 'auctions:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-success" type="submit" value="Login">
    </form>
    </div>
{% endblock %}